th {
  background: rgba(150,150,150,0.3);
  padding: 10px;
  margin-bottom: 5px;
}

td {
  padding: 5px 10px 5px 10px;
  vertical-align: middle;
}

.userPic {
  border-radius: 10%;
  width: 2em;
  height: 2em;
  margin-right: 10px;
  border: 1px black solid;
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 75%;
}

td>div {
  text-align: left;
}

.tableDiv {
  display: flex;
  justify-content: center;
}

.username {
  text-align: left;
  display: inline;
}

.dataTable {
  margin-top: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
